# IDE
.idea/

# OS
.DS_Store

# Build artifacts
bin/
spc/
renamer
renamer.phar
renamer.md5

# Cache
.build/
.php-cs-fixer.cache

# Environment
.env

# Test data
images/
images2/

# Reports
coverage-report/
coverage-report-xdebug/

# Logs
log/
logs/
