# IDE
.idea/

# OS
.DS_Store

# Dependencies
composer.lock

# Build output
.build/
log/
renamer
renamer.phar
renamer.md5

# Environment
.env

# Docker
compose.override.yaml

# Test data
images/
images2/

# Reports
coverage-report/
coverage-report-xdebug/
