includes:
    - .build/vendor/phpstan/phpstan-strict-rules/rules.neon
    - .build/vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - .build/vendor/phpstan/phpstan-phpunit/extension.neon
    - .build/vendor/phpstan/phpstan-phpunit/rules.neon
    - phpstan-baseline.neon

parameters:
    # You can currently choose from 11 levels (0 is the loosest and 10 is the strictest).
    level: 10

    # PHP Version to check against (PHP 8.4 as minimum target)
    phpVersion: 80400

    tmpDir: .build/cache/.phpstan.cache

    paths:
        - src/
        - test/
